{{ block "body" . }}
{{ template "header" . }}
<div class="flex w-full">
    <input type="hidden" name="csrf" value="{{ .csrf }}">
    {{ template "navbar" . }}
    <div class="flex flex-col min-h-screen justify-center w-full">
        <main id="main" class="flex-1 w-full p-2">
            {{template "home" . }}
        </main>
        <div id="loading" class="hidden">Loading...</div>
    </div>
    <script>
        lucide.createIcons();
    </script>
</div>
{{ template "footer" .}}
{{end}}
