{{ block "errors" . }}
    <!-- Errors -->
    {{ if .Errors }}
    <div class="text-app-50 p-3 rounded-lg mb-4 transition-opacity duration-500 opacity-0 animate-fade-in">
        <ul class="list-disc list-inside">
            {{ range .Errors }}
            <li class="bg-app-500 rounded-lg p-2">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{end}}
{{ end }}
