{{ block "exercise_detail" . }}
<div class="p-4 w-full mx-auto rounded-lg flex flex-col gap-8">
    <!-- Seção da esquerda (informações gerais) -->
    <div class="w-full opacity-0 -translate-y-5 transition-all duration-300 ease-out animate-fade-in flex flex-col md:flex-row items-start md:space-x-6">
        <!-- Container para nome e descrição -->
        <div class="flex-1">
            <h2 class="text-white text-lg font-semibold">{{ .Exercise.Name }}</h2>
            <p class="text-neutral-400 text-sm mt-1 leading-relaxed">{{ .Exercise.Description }}</p>

            {{ if .Exercise.Link }}
            <a href="{{ .Exercise.Link }}" class="text-red-400 text-sm mt-2 hover:underline block">
                Wikipedia link
            </a>
            {{ end }}
        </div>
        <div class="flex flex-col">
            <!-- Imagem do exercício -->
            {{ if .ImageURL }}
            <img src="{{ .ImageURL }}" alt="{{ .Exercise.Name }}" class="mt-3 rounded-md w-[300px] h-[200px] object-cover">
            {{ end }}

            <!-- Botão para visualizar o exercício -->
            <button
                hx-target="#main"
                hx-headers='js:{ "X-CSRF-Token": document.querySelector("[name=csrf]").value }'
                hx-post="/exercise/{{ .Exercise.Id }}"
                class="mt-3 input-app-light px-4 py-2 rounded-md hover:bg-red-600 transition-all">
                View Exercise
            </button>
        </div>
    </div>



    <!-- Seção da direita (movimentos e músculos) -->
    <div class="w-full opacity-0 text-app-50 translate-y-5 transition-all duration-300 ease-out animate-fade-in">
        <h2 class="text-app-950 text-lg font-semibold mb-6">Movements</h2>
        {{ range $role, $mmjs := .Mmjs }}
        {{if eq $role "concentric"}}
        <div class="app-gradient-tl rounded-lg mb-1 overflow-hidden">
        {{end}}
        {{if eq $role "eccentric"}}
        <div class="app-gradient-l rounded-lg mb-1 overflow-hidden">
        {{end}}
        {{if eq $role "stabilizer"}}

        <div class="app-gradient-bl rounded-lg mb-1 overflow-hidden">
        {{end}}
            <!-- Checkbox invisível para controlar o estado -->
            <input type="checkbox" id="toggle-{{ $role }}" class="peer hidden" />

            <!-- Cabeçalho do Card (função) -->
            <label for="toggle-{{ $role }}" class="p-4 cursor-pointer flex justify-between items-center">
                <h1 class="text-white text-lg font-bold">{{ $role | capitalize }}</h1>
                <svg class="w-5 h-5 text-white transform transition-transform duration-300 peer-checked:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </label>

            <!-- Conteúdo Expansível (movimentos e músculos) -->
            <div class="max-h-0 overflow-hidden transition-[max-height] duration-500 ease-in-out peer-checked:max-h-[1000px]">
                <div class="p-4">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        {{ range $mmjs }}
                        <div class="relative bg-app-light p-3 rounded-md shadow-sm transition-all duration-300 group">
                            <!-- Nome da articulação -->
                            <div class="flex">
                                <img src="/public/images/muscle.svg" class="w-4 h-4 mr-2" alt="">
                                <h3 class="text-base font-medium text-red-400 group-hover:text-red-500 transition-colors duration-300">
                                    {{ .MuscleGroupName }} {{ .MusclePortionName }}
                                </h3>
                            </div>

                            <!-- Linha decorativa -->
                            <div class="h-[2px] w-10 my-2 transition-all duration-300 group-hover:w-14"></div>

                            <div class="flex">
                                <img src="/public/images/joint.svg" class="w-4 h-4 mr-2" alt="">
                                <h4 class="text-base font-medium text-red-400 group-hover:text-red-500 transition-colors duration-300">
                                    {{ .JointName }} {{ .MovimentName }}
                                </h4>
                            </div>

                            <!-- Efeito sutil de brilho -->
                            <div class="absolute inset-0 rounded-md bg-red-500/5 opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>
                        </div>

                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
